
@font-face {
    font-family: "Inter" sans-serif;
    src: url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.woff2") format("woff2");
    font-family: "Inter" sans-serif;
    font-weight: 400;
    font-style: normal;
    font-display: wrap;
}
@font-face {
    font-family: "Inter" sans-serif;
    src: url("../fonts/Inter-Black.woff") format("woff"), url("../fonts/Inter-Black.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
    font-display: wrap;
}
@font-face {
    font-family: "Inter" sans-serif;
    src: url("../fonts/Inter-Bold.woff") format("woff"), url("../fonts/Inter-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: wrap;
}
@font-face {
    font-family: "Inter" sans-serif;
    src: url("../fonts/Inter-SemiBold.woff") format("woff"), url("../fonts/Inter-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: wrap;
}
@font-face {font-family: "Rouble";
    src:url(../fonts/Rouble.woff2) format("woff2"), /* chrome、firefox */
    url(../fonts/Rouble.woff) format("woff"), /* chrome、firefox */
    url(../fonts/Rouble.ttf) format("truetype"); /* chrome、firefox */
    font-weight: 400;
    font-style: normal;
    font-display: wrap;
  }