.accordion {

  &__input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  &__content {
    max-height: 0;
    transition: all .35s;
    overflow: hidden;
  }
  &__title {
      cursor: pointer;
  }
  &__input:checked ~ &__content{
      max-height: 100vh;
  }
}
