.checkbox {
  $this: &;
  &__input {
    position: absolute;
    opacity: 0;

    &:checked + #{$this}__label::after {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      background-image: url(../../img/icon-checked.svg);
      left: 3px;
      top: 0.8em;
      transform: translateY(-50%);
      background-repeat: no-repeat;
    }
  }
  &__label {
    padding-left: 32px;
    display: block;
    position: relative;
    text-align: left;
    &::before {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      left: 0;
      top: 0.8em;
      transform: translateY(-50%);
      background: #6cb0f4;
      border: 1px solid rgba(92, 121, 162, 0.15);
      border-radius: 3px;
    }
    &--link {
      color: #DE6FB2;
    }
   
  }
}
