.effect {
  $this:&;
  &__wrapper {
    @include container;
    margin-bottom: 75px;
    background: url(../../img/bg-effect.png) no-repeat center bottom -178px;
  }
  &__title {
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.06em;
    margin-bottom: 55px;

    color: #293951;
  }
  &__list {
      padding: 25px 0px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      &::before{
        content: "";
        width: 100%;
        height: 0;
        order: 2;
      }
  }
  &__list-item {
    position: relative;
    width: 50%;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #586e8e;
    &:nth-of-type(n + 3){
      margin-top: 75px;
    }
    &--left{
      justify-content: flex-start;
      #{$this}__list-item-check{
        order:1;
        position: relative;
        margin-right:12px ;
      }
      #{$this}__list-item-text{
        order:2;
        max-width: 230px;
        text-align: left;
      }
    }
    &--right{
      justify-content: flex-end;
      #{$this}__list-item-check{
        order:2;
        position: relative;
        margin-left: 17px;
      }
      #{$this}__list-item-text{
        order:1;
        max-width: 180px;
        text-align: right;
      }
    }
   
    
    // &::before {
    //   content: "";
    //   position: absolute;
    //   width: 60px;
    //   height: 60px;
    //   left: 0;
    //   right: auto;
    //   top: 50%;
    //   transform: translateY(-50%);
    //   background-repeat: no-repeat;
    //   background-image: url(../../img/icon-effect-white.svg);
    // }
    // &:nth-last-of-type(even)::before{
    //     background-image: url(../../img/icon-effect-redsvg.svg);
    // }
  }
  &__list-item-check{
    position: absolute;
    left: 0;
    right: auto;
    top:50%;
    transform: translateY(-50%);
    &--right{
      left:auto;
      right: 0;
    }
  }
  .effect-list__right{
    .effect__list-item{
        padding-right: 72px;
        text-align: right;
        &::before {
            right: 0;
            left: auto;
          }
    }
  }
}
