.equipment {
  background: linear-gradient(180deg, rgba(248, 250, 253, 0) 0%, #ffffff 100%),
    #f4f5f5;
  position: relative;
  margin-bottom: 90px;
  @media (max-width:768px) {
    margin-bottom: 50px;
  }

  &__wrapper {
    @include container;
  }
  &__header {
    font-weight: 600;
    font-size: 30px;
    line-height: 34px;
    /* or 113% */

    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5px;

    color: #293951;
    @media (max-width: 768px) {
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 16px;
     
    }
  }
  &__sub-header {
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height, or 130% */

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #f78e9b;
    margin-bottom: 65px;
    @media (max-width: 768px) {
      font-size: 13px;
      line-height: 18px;
      margin-bottom: 30px;
      margin-top: 16px;
    }
  }
  &__content {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: justify-content;
    align-items: flex-start;
    padding-bottom: 204px;
    background-image: url(../../img/bg-benefits-item.png),
      url(../../img/bg-benefits-item.png);
    background-repeat: no-repeat;
    background-position: bottom right, bottom right 260px;
    @media (max-width: 1200px) {
      background-image: url(../../img//bg-equipment-bottom-mobile.svg);
      background-position: bottom center;
      padding-bottom: 350px;
    }
    @media (max-width: 850px) {
      flex-direction: column;
      padding-bottom: 300px;
    }
    @media (max-width: 768px) {
      padding-bottom: 300px;
    }
    @media (max-width: 575px) {
      padding-bottom: 350px;
    }
  }
  &__difference {
    max-width: 330px;
    padding: 10px;
    position: relative;
    background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
      #fae2e7;
    box-shadow: inset 0px 4px 20px rgba(92, 121, 162, 0.3);
    border-radius: 3px;
    margin-right: 200px;

    &::after {
      content: "";
      position: absolute;
      width: 121px;
      height: 121px;
      border-radius: 50%;
      top: 0;
      left: 18px;
      transform: translateY(-50%);
      background: url(../../img/bg-equipment__difference.png) no-repeat center;
    }
    &::before {
      content: "";
      position: absolute;
      width: 534px;
      height: 492px;
      background: url(../../img/img-equipment.png) no-repeat center / contain;
      bottom: -200px;
      left: 91px;
    }
    @media (max-width: 1200px) {
      margin-right: 15px;
      &::before {
        bottom: -420px;
        left: -104px;
      }
    }
    @media (max-width: 850px) {
      order: 2;
      align-self: flex-start;
      margin-right: 0;
      &::before {
        bottom: -200px;
        left: 91px;
      }
    }
    @media (max-width: 768px) {
      max-width: 290px;
      &::before {
        width: 265px;
        height: 275px;
        bottom: -67px;
        right: -130px;
        left:auto
      }
    }
    @media (max-width: 575px) {
      &::before {
        bottom: -208px;
        left: -33px;
        right:auto;
      }
    }
  }
  &__difference-wrapper {
    padding: 77px 25px 47px;
    background: #ffffff;
    box-shadow: 0px 2px 10px rgba(78, 127, 222, 0.49);
    border-radius: 3px;
  }
  &__difference-title {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 26px;
  }
  &__difference-text {
    color: #586e8e;
  }
  &__list {
    max-width: 572px;
    width: 100%;
    padding: 13px 0;
    margin-left: auto;
    @media (max-width: 850px) {
      order: 1;
      align-self: flex-start;
      margin-left: 0;
      margin-bottom: 70px;
      max-width: none;
      padding: 0;
    }
  }
  &__list-item {
    font-size: 15px;
    line-height: 26px;
    /* or 173% */

    color: #293951;
    padding-left: 40px;
    position: relative;
    & + & {
      margin-top: 25px;
    }
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 13px;
      height: 13px;
      background: url(../../img/icon-x.svg) no-repeat center;
    }
    span {
      font-weight: 600;
    }
    @media (max-width: 768px) {
      padding-left: 26px;
      font-size: 13px;
      line-height: 20px;
      & + & {
        margin-top: 20px;
      }
      &::before {
        content: "";
        width: 10px;
        height: 10px;
        background: url(../../img/icon-x.svg) no-repeat center/contain;
      }
    }
  }
  &__play-button {
    display: block;
    position: absolute;
    bottom: 0px;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
    width: 99px;
    height: 99px;
    &::before {
      content: "";
      position: absolute;
      width: 278px;
      height: 278px;
      left: -86px;
      top: -86px;
      background: url(../../img/icon-play-button-text.svg) no-repeat center/contain;
      z-index: -1;
    }
    @media (max-width: 1200px) {
      bottom: 200px;
     
    }
    @media (max-width: 850px) {
      right: 0;
      left: auto;
      bottom: 200px;
      transform: translateX(-100%);
    }
    @media (max-width: 768px) {
      width: 60px;
      height: 60px;
      bottom: 250px;
      left:450px;
      right: auto;
      &::before {
        content: "";
        width: 171px;
        height: 171px;
        left: -54px;
        top: -54px;
      }
    }
    @media (max-width:575px) {
      bottom: 200px;
      right: 0;
      left: auto;
    }
  }
  &__button {
    position: absolute;
    right: 38px;
    bottom: 104px;
    width: 250px;
    height: 60px;
    @media (max-width: 1200px) {
      bottom: 250px;
    }
    @media (max-width: 850px) {
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);
    }
    @media (max-width: 768px) {
      left: 50%;
      bottom: 50px;
      width: 260px;
      min-height: 46px;
      font-weight: bold;
      font-size: 12px;
      line-height: 24px;
      transform: translateX(-50%);
      margin:0 auto;
    }
  }
}
