.filial {
    color:#425674;
    font-size: 13px;
    line-height: 20px;
    padding-left: 40px;
    position: relative;
    text-align: left;
    &::before{
        content: "";
        position: absolute;
        left: 0px;
        top:0;
        width: 30px;
        height: 20px;
        background: url(../../img/metro.svg) no-repeat center/cover;
    }
    
    &__name {
        font-weight: 700;
        display: block;

    }
    &__address {

    }
    &--active,
    &:hover
    {
        &::before{
            background: url(../../img/icon-metro-active.svg) no-repeat center/cover; 
        }
    }
    &--selected .filial__name{
        display: inline-block;
    }
}