.form {
  position: relative;
  padding: 90px 0 45px;
  background-image: url(../../img/bg-banner-center.png),
    url(../../img/bg-form-right.png),
    linear-gradient(269.78deg, #f9f9fb 10.18%, rgba(255, 255, 255, 0) 99.74%);
  background-color: #faf8f8;
  background-repeat: no-repeat;
  background-position: center top 60px, right 67px bottom 60px;

  &::before {
    content: "";
    position: absolute;
    background: url(../../img//bg-action-left.png) no-repeat center;
    width: 276px;
    height: 372px;
    left: 0;
    top: -100px;
  }
  @media (max-width: 1200px) {
    padding: 40px 0 54px;
  }
  &__wrapper {
    @include container;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    position: relative;
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
  &__about {
    max-width: 617px;
    flex-grow: 1;
    position: relative;
    z-index: 2;
    @media (max-width: 768px) {
      display: contents;
    }
  }
  &__about-title {
    font-weight: 500;
    font-size: 38px;
    line-height: 46px;

    color: #293951;
    margin-bottom: 35px;
    @media (max-width: 1200px) {
      font-size: 26px;
      line-height: 34px;
      margin-bottom: 11px;
    }
    @media (max-width: 768px) {
      order: 1;
    }
  }
  &__advantages {
    display: flex;
    max-width: 420px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 46px;
    @media (max-width: 768px) {
      order: 2;
      max-width: 100%;
    }
    @media (max-width: 575px) {
      order: 2;
      max-width: 100%;
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__advantage {
    font-size: 15px;
    line-height: 18px;
    color: #293951;
    padding-left: 72px;
    margin-bottom: 30px;
    min-height: 60px;
    display: flex;
    align-items: center;

    position: relative;
    @media (max-width: 1200px) {
      font-size: 13px;
      padding-left: 60px;
      margin-bottom: 10px;
    }
  }
  &__advantage-check {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  &__advantage-title {
    font-weight: bold;
    display: block;
  }
  &__advantage-text {
    font-weight: normal;
    display: block;
  }
  &__notice {
    padding-left: 22px;
    font-size: 14px;
    line-height: 18px;
    color: #293951;
    position: relative;
    max-width: 265px;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 4px;
      background: #f78e9b;
      border-radius: 6px;
    }
    margin-bottom: 30px;
    @media (max-width: 1200px) {
      font-size: 13px;
      margin-bottom: 5px;
    }
    @media (max-width: 768px) {
      max-width: 100%;
      order: 4;
    }
  }
  &__filials {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    @media (max-width: 768px) {
      max-width: 100%;
      order: 5;
    }
  }
  &__filial {
    background: #ffffff;
    box-shadow: 0px 6px 20px rgba(78, 127, 222, 0.2);
    border-radius: 6px;
    max-width: 280px;
    margin-right: 10px;
    margin-top: 16px;
    padding: 15px 20px 15px 30px;
    @media (max-width: 1200px) {
      padding: 15px 25px;
      font-size: 13px;
    }
  }
  &__right-block {
    position: relative;
    padding-left: 75px;
    max-width: 555px;
    width: 100%;
    @media (max-width: 768px) {
      order: 3;
      margin-left: auto;
      margin-bottom: 30px;
    }
    @media (max-width: 575px) {
      max-width: 100%;
      padding-left: 0;
      margin-left: 0;
    }
  }

  &__feedback {
    max-width: 470px;
    width: 100%;
    flex-grow: 1;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 399px;
      height: 512px;
      bottom: 0px;
      left: -275px;
      background: url(../../img/bg-action-center.png) no-repeat center/contain;
    }
    @media (max-width: 1200px) {
      &::before {
        width: 184px;
        height: 236px;

        bottom: 50px;
        left: -130px;
        transform: translateY(-50%);
      }
    }
    @media (max-width: 575px) {
      width: 100%;
      &::before {
        bottom: auto;
        top: -200px;
        right: -20px;
        left: auto;
        transform: none;
      }
    }
  }

  &__title {
    position: absolute;
    left: 0;
    bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    flex-shrink: 0;
    background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
      #fae2e7;
    box-shadow: inset 0px 4px 20px rgba(92, 121, 162, 0.3);
    &::before {
      content: "";
      width: 110px;
      height: 110px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      border-radius: 50%;
      background: linear-gradient(0deg, #ffffff, #ffffff);
    }
    z-index: 2;
    span {
      margin: auto;
      position: relative;
      font-weight: bold;
      font-size: 30px;
      line-height: 26px;
      z-index: 3;
      background: linear-gradient(90deg, #e86aad 0%, #5cbafe 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    @media (max-width: 768px) {
      width: 65px;
      height: 65px;
      bottom: 200px;
      left: 10px;
      &::before {
        content: "";
        width: 50px;
        height: 50px;
      }
      span {
        font-size: 18px;
        line-height: 26px;
      }
    }
    @media (max-width: 575px) {
      top: 0;
      bottom: auto;
      left: auto;
      right: 20px;
      transform: translateY(-100%);
    }
  }
}
