.main-nav {
 
  
  //#region верхний блок хидера (логотип адреса)
 
  &__top-block {
    display: contents;
    @media (max-width: 1200px) {
      flex-grow: 1;
      padding-right: 40px;
      padding: 15px 47px 15px 15px;
      box-shadow: 0px 2px 10px rgba(78, 127, 222, 0.2);
    }
  }

  &__filials-block {
    display: flex;
    
    @media (max-width: 1200px) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    @media (max-width: 768px) {
      margin: 0 auto;
    }
  }
  &__filials-list {
    display: flex;
    flex-wrap: wrap;
    @media (max-width: 768px) {
      display: none;
    }
  }
  &__filials-title {
    display: none;
    align-items: center;
    @media (max-width: 768px) {
      display: flex;
    }
  }
  &__filials-link {
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    color: #425674;
    position: relative;
    padding-left: 25px;
    &::before {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      top: 50%;
      left: 0px;
      transform: translateY(-50%);
      background: url(../../img/icon-pick.svg) no-repeat center / contain;
    }
  }
  &__filial {
    & + & {
      margin-left: 50px;
    }
  }
  //#endregion
  //#region Нижний блок хидера (телефон кнопка)
  &__menu-block{
    display: contents;

  }
  &__contact-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    @media (max-width: 1200px) {
      background-color: #f8fafd;
      padding: 15px;
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-grow: 1;
      &--open {
        background-color: #f8fafd;
        padding: 34px 15px 60px 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 320px;
        width: 100%;
        #{$this}__contacts-phone {
          margin-bottom: 20px;
        }
        #{$this}__contacts-button {
          max-width: 250px;
        }
      }
    }
    @media (max-width: 575px) {
      justify-content: space-between;
    }
  }
  &__contact{
    margin-right: 25px;
  }
  &__contacts-phone {
    margin-right: 26px;
  }
  &__contacts-button {
    max-width: 230px;
    min-height: 46px;
    width: 100%;
    @media (max-width: 575px) {
      min-width: 1px;
      max-width: 148px;
      min-height: 40px;
      font-size: 12px;
      line-height: 14px;
      color: #ffffff;
      text-transform: none;
    }
  }
  //#endregion

  


}
