.prices {
  background: linear-gradient(0deg, #f5f6f6, #fff 380px);
  position: relative;
  padding-bottom: 90px; 
  @media (max-width:1200px) {
    padding-bottom: 70px; 
  }

  &__wrapper {
    @include container;
    max-width: 1170px;
    padding: 0;
    box-shadow: 0px 2px 20px rgba(78, 127, 222, 0.19);
    border-radius: 6px;

   
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 120px;
      height: 134px;
      left: -70px;
      bottom: 0;
      background: url(../../img/landing-image-flowers-2.png) no-repeat center;
    }
    &::after {
      content: "";
      position: absolute;
      width: 267px;
      height: 287px;
      right: -150px;

      bottom: 0;

      background: url(../../img/landing-image-flowers-1.png) no-repeat center/cover;
    }
    @media (max-width:1200px) {
      &::before{
        content: none;
      }
      &::after{
        width: 131px;
        height: 110px;
        bottom: -70px;
        right:50%;
        transform: translateX(50%);
        background: url(../../img/bg-prices-bottom-mobile.png) no-repeat center/cover;
      }
      
    }
   
  }
  &__container{
    padding: 32px 15px 27px;
    background-color: #ffffff;
    position: relative;
    z-index: 1;
    @media (max-width: 768px) {
      padding: 26px 15px 17px;
    }
  }
  &__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #293951;
    margin-bottom: 22px;

    @media (max-width: 768px) {
      font-size: 18px;
      margin-bottom: 18px;
    }
  }
  &__filials {
    background: linear-gradient(90deg, #e86aad 0%, #5cbafe 100%);
    box-shadow: 0px 2px 6px rgba(78, 127, 222, 0.2);
    border-radius: 6px;
    padding: 18px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 768px) {
      padding: 18px 11px 21px;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }
  &__notice {
    max-width: 620px;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #ffffff;
    padding-left: 40px;
    background: url(../../img/icon-notice.svg) no-repeat left top;
    @media (max-width: 768px) {
      padding-left: 30px;
      max-width: 100%;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      margin-bottom: 18px;
      background-size: 20px 18px;
    }
  }
  &__select {
    max-width: 390px;
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #586e8e;
    &--selected {
      padding-left: 20px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 10px;
        height: 14px;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        background: url(../../img/icon-pick.svg) no-repeat center/contain;
      }
    }
    @media (max-width: 768px) {
      max-width: 100%;
    }
  }

  &__footer {
    display: flex;
    background: #f8fafd;
    border-radius: 6px;
    padding: 20px 27px;
    @media (max-width: 768px) {
      padding: 13px 16px 17px 10px;
      flex-direction: column;
    }
  }
  &__footer-text {
    font-weight: bold;
    font-size: 15px;
    line-height: 19px;
    max-width: 500px;
    color: #293951;
    @media (max-width: 768px) {
      font-size: 12px;
      line-height: 17px;
      margin-bottom: 10px;
    }
  }
  &__footer-contact {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    /* or 133% */
    padding-left: 28px;
    cursor: pointer;

    display: flex;
    align-items: center;

    color: #f895a1;
    background: url(../../img//icon-phone.svg) no-repeat left center;
    @media (max-width: 768px) {
      font-size: 16px;
    }
  }
  &__list {
    margin-bottom: 10px;
  }
  &__data--name-header {
    max-width: 100%;
  }
  &__tab {
    position: relative;
    &::after {
      content: "";
      display: block;
      position: absolute;
      height: 2px;
      border-radius: 50%;
      left: 0;
      top: 0;
      width: 100%;
      background-image: linear-gradient(to right, #e86aad, #5cbafe);
    }
  }
  //Строка таблицы
  &__item {
    display: flex;
    flex-direction: row;
    min-height: 50px;
    padding: 5px 35px;
    align-items: center;

    border-bottom: 1px dashed rgba(31, 31, 41, 0.2);

    &--header {
      position: relative;
      min-height: 60px;
      padding-top: 15px;
      padding-bottom: 15px;
      font-weight: 600;
      font-size: 14px;
      line-height: 18px;
      border-bottom: none;

      color: #586e8e;
    }
    @media (max-width: 575px) {
      padding: 5px 16px 5px 10px;
      &--header {
        padding: 15px 0;
      }
    }
  }
  //Набор данных
  &__tab {
    .prices__item:nth-of-type(odd) {
      background: #f8fafd;
      border-radius: 6px;
    }
  }
  //Единица данных (td)
  &__data {
    &--name {
      flex-grow: 1;
      font-size: 15px;
      line-height: 18px;
      color: #586e8e;
    }
    &--women,
    &--men {
      max-width: 230px;
      width: 100%;
      text-align: center;
      font-weight: 600;
      font-size: 16px;
      line-height: 18px;
      color: #293951;
    }
    &--women-header,
    &--men-header {
      span {
        padding-right: 25px;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          right: 0;
          top: 50%;
          width: 20px;
          height: 20px;
          transform: translateY(-50%);
        }
      }
    }
    &--women-header span {
      &::after {
        background: url(../../img/icon-woman.svg) no-repeat center;
      }
    }
    &--men-header span {
      &::after {
        background: url(../../img/icon-man.svg) no-repeat center;
      }
    }

    @media (max-width: 768px) {
      &--name {
        font-size: 14px;
      }
      &--women,
      &--men {
        max-width: 145px;
        font-size: 14px;
      }
    }
    @media (max-width: 575px) {
      &--name-header {
        display: none;
      }
      &--hidden {
        display: none;
      }
      &--active-header {
        background: #ffffff;
        box-shadow: 0px 1px 6px rgba(78, 127, 222, 0.2);
      }
      &--women,
      &--men {
        text-align: right;
      }
      &--women-header,
      &--men-header {
        width: 50%;
        max-width: none;
        padding: 12px;
      }
      &--women-header{
        text-align: left;
      }
      &--men-header {
        text-align: right;
      }
    }
  }
}
